
html {   
   background: #f5f5dc;
   } 
body {
   background: #f5f5dc; 
   /*text-align: center; */
}   
aside {
   text-align: center
}   

.echo {
   text-align: center
} 
table {
    width: 98%;
   /* Con esta instrucción text-align: center; no está centrando la tabla. ¿Porqué?*/
   text-align: center; 
   border: 1px solid #000;
    
 }
 caption {
   width: 99%;
   vertical-align: top;
   padding: 0.2em;
   color: #fff;
   border-collapse: collapse;
   background: #000;
}
tr {
   width:10%;
   text-align: center;
   vertical-align: top;
   border: 1px solid #000;
   border-collapse: collapse;
   padding: 0.2em;
   background-color: gray; 
 }
 th {
   width: 10%;
   text-align: center;
   vertical-align: top;
   border: 1px solid #000;
   border-collapse: collapse;
   padding: 0.2em;
   background: #eee;
  
 }
 td {
    width: 10%;
    /*si se escribe la siguiente instrucción  "text-align: center;" centra el contenido de la tabla,
    pero no la tabla   */
    text-align: left;
    vertical-align: top;
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 0.2em;
    background-color:#CDCDCD     
 }
 
 a {color:#0000FF; text-decoration: none;}

 .menuCSS3 ul {
   display: flex;
   padding: 0;
   margin: 0;
   list-style: none;
}
.menuCSS3 a {
   display: block;
   padding: 1.2em;
   background-color:#C0C0C0;
   text-decoration: none;
   color: #191C26;
}
.menuCSS3 a:hover {
   background-color: #C0C0C0;
}
.menuCSS3 ul li ul {
   display: none;
  
}
.menuCSS3 ul li a:hover + ul, .menuCSS3 ul li ul:hover {
   display: block;
}

img {border-style:solid;}

/*#logo{
   display: flex;
   align-items: center;
   justify-content: center;
   text-align:center;
}
#logo >img {
   max-width: 50%;
   border: 2px solid red;
}

#introduccion{
      color:red;
  }  

p {
   font-weight: bold;
   font-style: italic;
 }   

img {
   text-align: center;
} 
#cabecera{
   display:block;
   margin-left: auto;
   margin-right: auto;
}
#logo{
   display:block;
   margin-left: auto;
   margin-right: auto;
}
.balanza{
	margin:10px auto;
   display:block;
   text-align: center;
} */

/*img {
   width: 580px;
   height: 390px;
   margin-top: -195px;
   margin-left: -290px;
   left: 50%;
   top: 50%;
   position: absolute;
   } */